body{
    text-align: center;
    background-color: aqua;
}
.line{
    width: 70px;
    margin: 8px auto;
    background-color: black;
    height: 6px;
}
a{
    width: 300px;
}
img{
    width: 20% auto;
}